body {
  background-position: center;
  background-color: #ffe6f4;
  margin: 0px 0px;
  padding: 0px 0px;
  font-family: "supria_sans";
}

/*  FONTS  */
@font-face {
  /* MAIN FONT */
  font-family: supria_sans;
  src: url("https://zapsters.github.io/Home/fonts/SupriaSans-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* TITLE SCREEN */
.header {
  position: relative;
  background-color: #fe9eb4;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid black;
}

.header p {
  font-family: "supria_sans";
  color: #000;
  text-decoration: none;
  font-size: 30px;
  margin: 0px 0px;
  padding: 0px 0px;
}

.flex-container {
  display: flex;
  text-align: left;
  align-items: flex-end;
}
.flex-container div {
  flex: 1;
  padding: 8px;
}
.flex-container div:nth-child(2) {
  text-align: right;
}

.bottom_div {
  font-family: "supria_sans";
  bottom: 0;
  width: 100%;
  position: absolute;
}

.bottom_div p {
  font-size: 16px;
  bottom: 0;
  margin: 0;
  z-index: 10;
}

.debug_div {
  font-family: "arial";
  position: absolute;
  padding: 0px 3px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 120;
}
.debug_div p {
  font-family: "arial";
}

.centered_div {
  padding: 0px 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100px;
  margin-top: -10%;
  margin-left: -50%;
  text-align: center;
}

.centeredHoriz {
  padding: 0px 0px;
  position: absolute;
  width: 100%;
}

.writableContent {
  /* Used with Centered_div for content */
  margin: auto;
  width: 90%;
  padding: 0px;
}

@media (max-width: 700px) {
  .writableContent {
    /* Used with Centered_div for content */
    margin: auto;
    width: 90%;
    padding: 0px;
  }
}

.messagebox {
  /* INPUT BOXES */
  font-family: "supria_sans";
  text-align: center;
  font-size: 30px;
  width: 99%;
  margin: 0px 0px;
  padding: 0px;
  background-color: #fff;
  border: solid 1px black;
}
.buttonMain {
  /* BUTTONS */
  font-family: "supria_sans";
  background: #222;
  color: #fff;
  border: 0px;
  padding: 10px 10px;
  margin: 10px 1px;
  font-size: 20px;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  cursor: pointer;
}

.buttonMain:hover {
  box-shadow: 0px 0px 3px 0 black;
}
.buttonMain:active {
  box-shadow: 0px 0px 3px 0 black;
  color: #868689;
}

.startbtn {
  position: relative;
  float: bottom;
  width: 90%;
  max-width: 340px;
  font-size: 35px;
  padding: 4px;
}

.startbtn:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid #ededed;
}

.playerlist {
  width: 100%;
  list-style: none;
  margin: -20px 0px 0 0;
  padding: 0px 0px 50px 0px;
  position: relative;
  text-align: center;
  display: block;
  float: left;
  clear: left;
}
.playerlist div {
  font-family: "supria_sans";
  font-weight: 800;
  background: #222;
  padding: 0px 0px;
  color: #fff;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  max-width: 700px;
  width: 90%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.playerlist div:first-child {
  background-color: #222;
  color: #ebb134;
}
.playerlist div p {
  padding: 0;
  margin: 0;
}
.playerlist .trans p {
  background: -webkit-linear-gradient(
    0turn,
    #5bcefa,
    #f5a9b8,
    #ffffff,
    #f5a9b8,
    #5bcefa
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  align-content: center;
  margin: auto;
}

/* SUB CLASSES */
.noSpace {
  padding: 0;
  margin: 0;
}

/* screen_main_gameplay STYLE SHEET =============================*/
.indented {
  padding-left: 10px;
  margin-top: 0;
}
.moduleContainer {
  border: 1px solid black;
  padding: 4px 0px 4px 0px;
  margin: auto;
  text-align: center;
  font-size: 0px;
  max-width: 1100px;
}
.inputGroup {
  text-align: left;
  width: 240px;
  height: 240px;
  border: 3px solid black;
  background-color: #ededed;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 16px; /* For some god damn reason, this fixes the space issues of JAVASCRIPT created divs and hardcoded divs... */
  vertical-align: top;
  position: relative;
}
.flashing {
  animation: redFlash 1s linear infinite;
}
@keyframes redFlash {
  0% {
    background-color: #ffe3e3;
  }
  10% {
    background-color: #f72a2a;
  }
  100% {
    background-color: #ffe3e3;
  }
}
.inputmodule_DEVtitle {
  margin-top: -21px;
  font-weight: bold;
  font-size: 14px;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.6);
}
.inputmodule_title {
  padding: 8px 0px 2px 8px;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 0;
}
.inputmodule_clickableIcon {
  position: absolute;
  right: 6px;
  bottom: 60px;
  cursor: pointer;
  color: #434343;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.inputmodule_clickableIcon:hover {
  color: #838383;
}
.inputGroup hr {
  border: 1px solid black;
  position: absolute;
  width: 100%;
}
.RangeGroup {
  line-height: 0px;
  position: absolute;
  padding: 0;
  margin: 0;
}
.slider {
  border: 2px solid black;
  width: 95%;
  height: 18px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  appearance: none;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #04aa6d;
  cursor: pointer;
}
.slider:disabled {
  background: #cbcbcb;
}
.slider:disabled::-webkit-slider-thumb {
  background: #035839;
  cursor: auto;
}
.button {
  border: 2px solid black;
  background-color: #303030;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  height: 26px;
  color: white;
}
.button:hover {
  background-color: #5e5e5e;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid #000;
}
.button:disabled {
  background-color: #333333;
  color: #aaaaaa;
}
.input {
  border: 2px solid black;
  background-color: #303030;
  font-size: 17px;
  color: white;
  height: 23px;
}
.input:disabled {
  opacity: 0.5;
}
.headerContainer {
  z-index: 100;
  background-color: white;
  font-weight: bold;
  border: 2px solid black;
  margin: auto;
  margin-top: 50px;
  padding-top: 4px;
  text-align: center;
  transition: background-color 100ms linear;
  height: 50px;
  max-width: 1150px;
}
.headerSTICKY {
  position: sticky;
  top: 5px;
}

.grayOutDivScreen {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: none;

  padding: 0px;
  margin: 0px;
  top: 0px;
  position: fixed;
  z-index: 300;
  transition: background-color 3000ms ease-out;

  pointer-events: all;
  cursor: context-menu;
}

.grayOutDivScreen div {
  z-index: 500;
  pointer-events: all;
}

.popupDiv {
  cursor: auto;
  z-index: 500;

  padding: 0px 0px;
  position: fixed;
  top: 55%;
  left: 50%;
  width: 90%;
  min-width: 400px;
  max-width: 1200px;
  max-height: 700px;
  margin: auto;
  text-align: center;
  border: solid 2px;
  overflow-y: scroll;
  background-color: #ebddca;
  -ms-transform: translate(-50%, 60%);
  transform: translate(-50%, -50%);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: scroll;

  display: none;
}

.popupDiv::-webkit-scrollbar {
  display: none;
}

.popupDivTable {
  border: solid 2px;
  margin: 20px 5px 5px 5px;
  min-height: 40px;
}

.popupDiv .closeButton {
  position: absolute;
  right: 0;
  margin-right: 10px;
  font-size: 20px;
  top: 9px;
  border: #d62b2b solid 2px;
  background-color: white;
  cursor: pointer;
  height: 30px;
  width: 30px;
  overflow: none;
}

.popupDiv .closeButton:hover {
  background-color: #d62b2b;
  border: #d62b2b solid 2px;
}

.popupDiv .closeButton p {
  margin: auto;
  padding-top: 4px;
}

.popupDivTable li {
  text-align: left;
}

.popupDivTable ul {
  text-align: left;
  -moz-column-count: 6;
  -moz-column-gap: 20px;
  -webkit-column-count: 6;
  -webkit-column-gap: 20px;
  column-count: 6;
  column-gap: 20px;
}

.popupDiv hr {
  border: 1px solid black;
  position: absolute;
  width: 100%;
  top: 40px;
}

.gameoverDiv {
  background-color: rgb(255, 255, 255);
  max-width: 700px;
  text-align: left;
}
.gameoverDiv h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}
.gameoverDiv .gameoverHeader {
  padding-top: 5px;
  background-color: #fe9eb4;
  text-align: center;
  border-bottom: black 2px solid;
}
.gameoverDiv p {
  margin: 5px;
}
.gameoverDiv h4 {
  padding: 0;
  margin: 10px;
}

.statsScreen {
  display: flex;
  border-bottom: 2px solid black;
}
.statsScreen div:not(:first-child) {
  border-left: solid 2px black;
}
.statsScreen div {
  flex: 1;
}
.statsScreen div h2 {
  text-align: center;
  margin: 3px;
}

.colorSwatch {
  border: 2px black solid;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 45px;
  margin: 0px 20px 0px 20px;
  background-color: rgb(0, 0, 0);
}
