.debug_div {
  font-family: "arial";
  position: absolute;
  padding: 0px 3px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 120;
  top: 100px;
  background-color: red;
}
.debug_div p {
  font-family: "arial";
}
