#joinGameContainer {
  padding-top: 50px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 8px;
    max-width: 800px;
  }
}
