@font-face {
  font-family: "pixelart-icons-font";
  src: url("fonts/pixelArtIcons/pixelart-icons-font.eot?t=1711815892278"); /* IE9*/
  src: url("fonts/pixelArtIcons/pixelart-icons-font.eot?t=1711815892278#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/pixelArtIcons/pixelart-icons-font.woff2?t=1711815892278")
      format("woff2"),
    url("fonts/pixelArtIcons/pixelart-icons-font.woff?t=1711815892278") format("woff"),
    url("fonts/pixelArtIcons/pixelart-icons-font.ttf?t=1711815892278") format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url("fonts/pixelArtIcons/pixelart-icons-font.svg?t=1711815892278#pixelart-icons-font")
      format("svg"); /* iOS 4.1- */
}

[class^="pixelart-icons-font-"],
[class*=" pixelart-icons-font-"] {
  font-family: "pixelart-icons-font" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pixelart-icons-font-4g:before {
  content: "\ea01";
}
.pixelart-icons-font-4k-box:before {
  content: "\ea02";
}
.pixelart-icons-font-4k:before {
  content: "\ea03";
}
.pixelart-icons-font-5g:before {
  content: "\ea04";
}
.pixelart-icons-font-ab-testing:before {
  content: "\ea05";
}
.pixelart-icons-font-ac:before {
  content: "\ea06";
}
.pixelart-icons-font-add-box-multiple:before {
  content: "\ea07";
}
.pixelart-icons-font-add-box:before {
  content: "\ea08";
}
.pixelart-icons-font-add-col:before {
  content: "\ea09";
}
.pixelart-icons-font-add-grid:before {
  content: "\ea0a";
}
.pixelart-icons-font-add-row:before {
  content: "\ea0b";
}
.pixelart-icons-font-alert:before {
  content: "\ea0c";
}
.pixelart-icons-font-align-center:before {
  content: "\ea0d";
}
.pixelart-icons-font-align-justify:before {
  content: "\ea0e";
}
.pixelart-icons-font-align-left:before {
  content: "\ea0f";
}
.pixelart-icons-font-align-right:before {
  content: "\ea10";
}
.pixelart-icons-font-analytics:before {
  content: "\ea11";
}
.pixelart-icons-font-anchor:before {
  content: "\ea12";
}
.pixelart-icons-font-android:before {
  content: "\ea13";
}
.pixelart-icons-font-animation:before {
  content: "\ea14";
}
.pixelart-icons-font-archive:before {
  content: "\ea15";
}
.pixelart-icons-font-arrow-bar-down:before {
  content: "\ea16";
}
.pixelart-icons-font-arrow-bar-left:before {
  content: "\ea17";
}
.pixelart-icons-font-arrow-bar-right:before {
  content: "\ea18";
}
.pixelart-icons-font-arrow-bar-up:before {
  content: "\ea19";
}
.pixelart-icons-font-arrow-down-box:before {
  content: "\ea1a";
}
.pixelart-icons-font-arrow-down:before {
  content: "\ea1b";
}
.pixelart-icons-font-arrow-left-box:before {
  content: "\ea1c";
}
.pixelart-icons-font-arrow-left:before {
  content: "\ea1d";
}
.pixelart-icons-font-arrow-right-box:before {
  content: "\ea1e";
}
.pixelart-icons-font-arrow-right:before {
  content: "\ea1f";
}
.pixelart-icons-font-arrow-up-box:before {
  content: "\ea20";
}
.pixelart-icons-font-arrow-up:before {
  content: "\ea21";
}
.pixelart-icons-font-arrows-horizontal:before {
  content: "\ea22";
}
.pixelart-icons-font-arrows-vertical:before {
  content: "\ea23";
}
.pixelart-icons-font-art-text:before {
  content: "\ea24";
}
.pixelart-icons-font-article-multiple:before {
  content: "\ea25";
}
.pixelart-icons-font-article:before {
  content: "\ea26";
}
.pixelart-icons-font-aspect-ratio:before {
  content: "\ea27";
}
.pixelart-icons-font-at:before {
  content: "\ea28";
}
.pixelart-icons-font-attachment:before {
  content: "\ea29";
}
.pixelart-icons-font-audio-device:before {
  content: "\ea2a";
}
.pixelart-icons-font-avatar:before {
  content: "\ea2b";
}
.pixelart-icons-font-backburger:before {
  content: "\ea2c";
}
.pixelart-icons-font-battery-1:before {
  content: "\ea2d";
}
.pixelart-icons-font-battery-2:before {
  content: "\ea2e";
}
.pixelart-icons-font-battery-charging:before {
  content: "\ea2f";
}
.pixelart-icons-font-battery-full:before {
  content: "\ea30";
}
.pixelart-icons-font-battery:before {
  content: "\ea31";
}
.pixelart-icons-font-bed:before {
  content: "\ea32";
}
.pixelart-icons-font-bitcoin:before {
  content: "\ea33";
}
.pixelart-icons-font-bluetooth:before {
  content: "\ea34";
}
.pixelart-icons-font-book-open:before {
  content: "\ea35";
}
.pixelart-icons-font-book:before {
  content: "\ea36";
}
.pixelart-icons-font-bookmark:before {
  content: "\ea37";
}
.pixelart-icons-font-bookmarks:before {
  content: "\ea38";
}
.pixelart-icons-font-briefcase-account:before {
  content: "\ea39";
}
.pixelart-icons-font-briefcase-check:before {
  content: "\ea3a";
}
.pixelart-icons-font-briefcase-delete:before {
  content: "\ea3b";
}
.pixelart-icons-font-briefcase-download:before {
  content: "\ea3c";
}
.pixelart-icons-font-briefcase-minus:before {
  content: "\ea3d";
}
.pixelart-icons-font-briefcase-plus:before {
  content: "\ea3e";
}
.pixelart-icons-font-briefcase-search-1:before {
  content: "\ea3f";
}
.pixelart-icons-font-briefcase-search:before {
  content: "\ea40";
}
.pixelart-icons-font-briefcase-upload:before {
  content: "\ea41";
}
.pixelart-icons-font-briefcase:before {
  content: "\ea42";
}
.pixelart-icons-font-bug:before {
  content: "\ea43";
}
.pixelart-icons-font-building-community:before {
  content: "\ea44";
}
.pixelart-icons-font-building-skyscraper:before {
  content: "\ea45";
}
.pixelart-icons-font-building:before {
  content: "\ea46";
}
.pixelart-icons-font-buildings:before {
  content: "\ea47";
}
.pixelart-icons-font-bulletlist:before {
  content: "\ea48";
}
.pixelart-icons-font-bullseye-arrow:before {
  content: "\ea49";
}
.pixelart-icons-font-bullseye:before {
  content: "\ea4a";
}
.pixelart-icons-font-bus:before {
  content: "\ea4b";
}
.pixelart-icons-font-cake:before {
  content: "\ea4c";
}
.pixelart-icons-font-calculator:before {
  content: "\ea4d";
}
.pixelart-icons-font-calendar-alert:before {
  content: "\ea4e";
}
.pixelart-icons-font-calendar-arrow-left:before {
  content: "\ea4f";
}
.pixelart-icons-font-calendar-arrow-right:before {
  content: "\ea50";
}
.pixelart-icons-font-calendar-check:before {
  content: "\ea51";
}
.pixelart-icons-font-calendar-export:before {
  content: "\ea52";
}
.pixelart-icons-font-calendar-grid:before {
  content: "\ea53";
}
.pixelart-icons-font-calendar-import:before {
  content: "\ea54";
}
.pixelart-icons-font-calendar-minus:before {
  content: "\ea55";
}
.pixelart-icons-font-calendar-month:before {
  content: "\ea56";
}
.pixelart-icons-font-calendar-multiple-check:before {
  content: "\ea57";
}
.pixelart-icons-font-calendar-multiple:before {
  content: "\ea58";
}
.pixelart-icons-font-calendar-plus:before {
  content: "\ea59";
}
.pixelart-icons-font-calendar-range:before {
  content: "\ea5a";
}
.pixelart-icons-font-calendar-remove:before {
  content: "\ea5b";
}
.pixelart-icons-font-calendar-search:before {
  content: "\ea5c";
}
.pixelart-icons-font-calendar-sort-ascending:before {
  content: "\ea5d";
}
.pixelart-icons-font-calendar-sort-descending:before {
  content: "\ea5e";
}
.pixelart-icons-font-calendar-text:before {
  content: "\ea5f";
}
.pixelart-icons-font-calendar-today:before {
  content: "\ea60";
}
.pixelart-icons-font-calendar-tomorrow:before {
  content: "\ea61";
}
.pixelart-icons-font-calendar-week-begin:before {
  content: "\ea62";
}
.pixelart-icons-font-calendar-week:before {
  content: "\ea63";
}
.pixelart-icons-font-calendar-weekend:before {
  content: "\ea64";
}
.pixelart-icons-font-calendar:before {
  content: "\ea65";
}
.pixelart-icons-font-camera-add:before {
  content: "\ea66";
}
.pixelart-icons-font-camera-alt:before {
  content: "\ea67";
}
.pixelart-icons-font-camera-face:before {
  content: "\ea68";
}
.pixelart-icons-font-camera:before {
  content: "\ea69";
}
.pixelart-icons-font-car:before {
  content: "\ea6a";
}
.pixelart-icons-font-card-id:before {
  content: "\ea6b";
}
.pixelart-icons-font-card-plus:before {
  content: "\ea6c";
}
.pixelart-icons-font-card-stack:before {
  content: "\ea6d";
}
.pixelart-icons-font-card-text:before {
  content: "\ea6e";
}
.pixelart-icons-font-card:before {
  content: "\ea6f";
}
.pixelart-icons-font-cart:before {
  content: "\ea70";
}
.pixelart-icons-font-cast:before {
  content: "\ea71";
}
.pixelart-icons-font-cellular-signal-0:before {
  content: "\ea72";
}
.pixelart-icons-font-cellular-signal-1:before {
  content: "\ea73";
}
.pixelart-icons-font-cellular-signal-2:before {
  content: "\ea74";
}
.pixelart-icons-font-cellular-signal-3:before {
  content: "\ea75";
}
.pixelart-icons-font-cellular-signal-off:before {
  content: "\ea76";
}
.pixelart-icons-font-chart-add:before {
  content: "\ea77";
}
.pixelart-icons-font-chart-bar:before {
  content: "\ea78";
}
.pixelart-icons-font-chart-delete:before {
  content: "\ea79";
}
.pixelart-icons-font-chart-minus:before {
  content: "\ea7a";
}
.pixelart-icons-font-chart-multiple:before {
  content: "\ea7b";
}
.pixelart-icons-font-chart:before {
  content: "\ea7c";
}
.pixelart-icons-font-chat:before {
  content: "\ea7d";
}
.pixelart-icons-font-check-double:before {
  content: "\ea7e";
}
.pixelart-icons-font-check:before {
  content: "\ea7f";
}
.pixelart-icons-font-checkbox-on:before {
  content: "\ea80";
}
.pixelart-icons-font-checkbox:before {
  content: "\ea81";
}
.pixelart-icons-font-checklist:before {
  content: "\ea82";
}
.pixelart-icons-font-chess:before {
  content: "\ea83";
}
.pixelart-icons-font-chevron-down:before {
  content: "\ea84";
}
.pixelart-icons-font-chevron-left:before {
  content: "\ea85";
}
.pixelart-icons-font-chevron-right:before {
  content: "\ea86";
}
.pixelart-icons-font-chevron-up:before {
  content: "\ea87";
}
.pixelart-icons-font-chevrons-horizontal:before {
  content: "\ea88";
}
.pixelart-icons-font-chevrons-vertical:before {
  content: "\ea89";
}
.pixelart-icons-font-circle:before {
  content: "\ea8a";
}
.pixelart-icons-font-clipboard:before {
  content: "\ea8b";
}
.pixelart-icons-font-clock:before {
  content: "\ea8c";
}
.pixelart-icons-font-close-box:before {
  content: "\ea8d";
}
.pixelart-icons-font-close:before {
  content: "\ea8e";
}
.pixelart-icons-font-cloud-done:before {
  content: "\ea8f";
}
.pixelart-icons-font-cloud-download:before {
  content: "\ea90";
}
.pixelart-icons-font-cloud-moon:before {
  content: "\ea91";
}
.pixelart-icons-font-cloud-sun:before {
  content: "\ea92";
}
.pixelart-icons-font-cloud-upload:before {
  content: "\ea93";
}
.pixelart-icons-font-cloud:before {
  content: "\ea94";
}
.pixelart-icons-font-cocktail:before {
  content: "\ea95";
}
.pixelart-icons-font-code:before {
  content: "\ea96";
}
.pixelart-icons-font-coffee-alt:before {
  content: "\ea97";
}
.pixelart-icons-font-coffee:before {
  content: "\ea98";
}
.pixelart-icons-font-coin:before {
  content: "\ea99";
}
.pixelart-icons-font-collapse:before {
  content: "\ea9a";
}
.pixelart-icons-font-colors-swatch:before {
  content: "\ea9b";
}
.pixelart-icons-font-command:before {
  content: "\ea9c";
}
.pixelart-icons-font-comment:before {
  content: "\ea9d";
}
.pixelart-icons-font-contact-delete:before {
  content: "\ea9e";
}
.pixelart-icons-font-contact-multiple:before {
  content: "\ea9f";
}
.pixelart-icons-font-contact-plus:before {
  content: "\eaa0";
}
.pixelart-icons-font-contact:before {
  content: "\eaa1";
}
.pixelart-icons-font-copy:before {
  content: "\eaa2";
}
.pixelart-icons-font-corner-down-left:before {
  content: "\eaa3";
}
.pixelart-icons-font-corner-down-right:before {
  content: "\eaa4";
}
.pixelart-icons-font-corner-left-down:before {
  content: "\eaa5";
}
.pixelart-icons-font-corner-left-up:before {
  content: "\eaa6";
}
.pixelart-icons-font-corner-right-down:before {
  content: "\eaa7";
}
.pixelart-icons-font-corner-right-up:before {
  content: "\eaa8";
}
.pixelart-icons-font-corner-up-left:before {
  content: "\eaa9";
}
.pixelart-icons-font-corner-up-right:before {
  content: "\eaaa";
}
.pixelart-icons-font-credit-card-delete:before {
  content: "\eaab";
}
.pixelart-icons-font-credit-card-minus:before {
  content: "\eaac";
}
.pixelart-icons-font-credit-card-multiple:before {
  content: "\eaad";
}
.pixelart-icons-font-credit-card-plus:before {
  content: "\eaae";
}
.pixelart-icons-font-credit-card-settings:before {
  content: "\eaaf";
}
.pixelart-icons-font-credit-card-wireless:before {
  content: "\eab0";
}
.pixelart-icons-font-credit-card:before {
  content: "\eab1";
}
.pixelart-icons-font-crop:before {
  content: "\eab2";
}
.pixelart-icons-font-cut:before {
  content: "\eab3";
}
.pixelart-icons-font-dashbaord:before {
  content: "\eab4";
}
.pixelart-icons-font-debug-check:before {
  content: "\eab5";
}
.pixelart-icons-font-debug-off:before {
  content: "\eab6";
}
.pixelart-icons-font-debug-pause:before {
  content: "\eab7";
}
.pixelart-icons-font-debug-play:before {
  content: "\eab8";
}
.pixelart-icons-font-debug-stop:before {
  content: "\eab9";
}
.pixelart-icons-font-debug:before {
  content: "\eaba";
}
.pixelart-icons-font-delete:before {
  content: "\eabb";
}
.pixelart-icons-font-deskphone:before {
  content: "\eabc";
}
.pixelart-icons-font-device-laptop:before {
  content: "\eabd";
}
.pixelart-icons-font-device-phone:before {
  content: "\eabe";
}
.pixelart-icons-font-device-tablet:before {
  content: "\eabf";
}
.pixelart-icons-font-device-tv-smart:before {
  content: "\eac0";
}
.pixelart-icons-font-device-tv:before {
  content: "\eac1";
}
.pixelart-icons-font-device-vibrate:before {
  content: "\eac2";
}
.pixelart-icons-font-device-watch:before {
  content: "\eac3";
}
.pixelart-icons-font-devices:before {
  content: "\eac4";
}
.pixelart-icons-font-dice:before {
  content: "\eac5";
}
.pixelart-icons-font-dollar:before {
  content: "\eac6";
}
.pixelart-icons-font-downasaur:before {
  content: "\eac7";
}
.pixelart-icons-font-download:before {
  content: "\eac8";
}
.pixelart-icons-font-draft:before {
  content: "\eac9";
}
.pixelart-icons-font-drag-and-drop:before {
  content: "\eaca";
}
.pixelart-icons-font-drop-area:before {
  content: "\eacb";
}
.pixelart-icons-font-drop-full:before {
  content: "\eacc";
}
.pixelart-icons-font-drop-half:before {
  content: "\eacd";
}
.pixelart-icons-font-drop:before {
  content: "\eace";
}
.pixelart-icons-font-duplicate-alt:before {
  content: "\eacf";
}
.pixelart-icons-font-duplicate:before {
  content: "\ead0";
}
.pixelart-icons-font-edit-box:before {
  content: "\ead1";
}
.pixelart-icons-font-edit:before {
  content: "\ead2";
}
.pixelart-icons-font-euro:before {
  content: "\ead3";
}
.pixelart-icons-font-expand:before {
  content: "\ead4";
}
.pixelart-icons-font-external-link:before {
  content: "\ead5";
}
.pixelart-icons-font-eye-closed:before {
  content: "\ead6";
}
.pixelart-icons-font-eye:before {
  content: "\ead7";
}
.pixelart-icons-font-file-alt:before {
  content: "\ead8";
}
.pixelart-icons-font-file-delete:before {
  content: "\ead9";
}
.pixelart-icons-font-file-flash:before {
  content: "\eada";
}
.pixelart-icons-font-file-minus:before {
  content: "\eadb";
}
.pixelart-icons-font-file-multiple:before {
  content: "\eadc";
}
.pixelart-icons-font-file-off:before {
  content: "\eadd";
}
.pixelart-icons-font-file-plus:before {
  content: "\eade";
}
.pixelart-icons-font-file:before {
  content: "\eadf";
}
.pixelart-icons-font-fill-half:before {
  content: "\eae0";
}
.pixelart-icons-font-fill:before {
  content: "\eae1";
}
.pixelart-icons-font-flag:before {
  content: "\eae2";
}
.pixelart-icons-font-flatten:before {
  content: "\eae3";
}
.pixelart-icons-font-flip-to-back:before {
  content: "\eae4";
}
.pixelart-icons-font-flip-to-front:before {
  content: "\eae5";
}
.pixelart-icons-font-float-center:before {
  content: "\eae6";
}
.pixelart-icons-font-float-left:before {
  content: "\eae7";
}
.pixelart-icons-font-float-right:before {
  content: "\eae8";
}
.pixelart-icons-font-folder-minus:before {
  content: "\eae9";
}
.pixelart-icons-font-folder-plus:before {
  content: "\eaea";
}
.pixelart-icons-font-folder-x:before {
  content: "\eaeb";
}
.pixelart-icons-font-folder:before {
  content: "\eaec";
}
.pixelart-icons-font-forward:before {
  content: "\eaed";
}
.pixelart-icons-font-forwardburger:before {
  content: "\eaee";
}
.pixelart-icons-font-frame-add:before {
  content: "\eaef";
}
.pixelart-icons-font-frame-check:before {
  content: "\eaf0";
}
.pixelart-icons-font-frame-delete:before {
  content: "\eaf1";
}
.pixelart-icons-font-frame-minus:before {
  content: "\eaf2";
}
.pixelart-icons-font-frame:before {
  content: "\eaf3";
}
.pixelart-icons-font-gamepad:before {
  content: "\eaf4";
}
.pixelart-icons-font-gif:before {
  content: "\eaf5";
}
.pixelart-icons-font-gift:before {
  content: "\eaf6";
}
.pixelart-icons-font-git-branch:before {
  content: "\eaf7";
}
.pixelart-icons-font-git-commit:before {
  content: "\eaf8";
}
.pixelart-icons-font-git-merge:before {
  content: "\eaf9";
}
.pixelart-icons-font-git-pull-request:before {
  content: "\eafa";
}
.pixelart-icons-font-github-2:before {
  content: "\eafb";
}
.pixelart-icons-font-github:before {
  content: "\eafc";
}
.pixelart-icons-font-gps:before {
  content: "\eafd";
}
.pixelart-icons-font-grid:before {
  content: "\eafe";
}
.pixelart-icons-font-group:before {
  content: "\eaff";
}
.pixelart-icons-font-hd:before {
  content: "\eb00";
}
.pixelart-icons-font-headphone:before {
  content: "\eb01";
}
.pixelart-icons-font-headset:before {
  content: "\eb02";
}
.pixelart-icons-font-heart:before {
  content: "\eb03";
}
.pixelart-icons-font-hidden:before {
  content: "\eb04";
}
.pixelart-icons-font-home:before {
  content: "\eb05";
}
.pixelart-icons-font-hourglass:before {
  content: "\eb06";
}
.pixelart-icons-font-hq:before {
  content: "\eb07";
}
.pixelart-icons-font-human-handsdown:before {
  content: "\eb08";
}
.pixelart-icons-font-human-handsup:before {
  content: "\eb09";
}
.pixelart-icons-font-human-height-alt:before {
  content: "\eb0a";
}
.pixelart-icons-font-human-height:before {
  content: "\eb0b";
}
.pixelart-icons-font-human-run:before {
  content: "\eb0c";
}
.pixelart-icons-font-human:before {
  content: "\eb0d";
}
.pixelart-icons-font-image-arrow-right:before {
  content: "\eb0e";
}
.pixelart-icons-font-image-broken:before {
  content: "\eb0f";
}
.pixelart-icons-font-image-delete:before {
  content: "\eb10";
}
.pixelart-icons-font-image-flash:before {
  content: "\eb11";
}
.pixelart-icons-font-image-frame:before {
  content: "\eb12";
}
.pixelart-icons-font-image-gallery:before {
  content: "\eb13";
}
.pixelart-icons-font-image-multiple:before {
  content: "\eb14";
}
.pixelart-icons-font-image-new:before {
  content: "\eb15";
}
.pixelart-icons-font-image-plus:before {
  content: "\eb16";
}
.pixelart-icons-font-image:before {
  content: "\eb17";
}
.pixelart-icons-font-inbox-all:before {
  content: "\eb18";
}
.pixelart-icons-font-inbox-full:before {
  content: "\eb19";
}
.pixelart-icons-font-inbox:before {
  content: "\eb1a";
}
.pixelart-icons-font-info-box:before {
  content: "\eb1b";
}
.pixelart-icons-font-invert:before {
  content: "\eb1c";
}
.pixelart-icons-font-iso:before {
  content: "\eb1d";
}
.pixelart-icons-font-kanban:before {
  content: "\eb1e";
}
.pixelart-icons-font-keyboard:before {
  content: "\eb1f";
}
.pixelart-icons-font-label-alt-multiple:before {
  content: "\eb20";
}
.pixelart-icons-font-label-alt:before {
  content: "\eb21";
}
.pixelart-icons-font-label-sharp:before {
  content: "\eb22";
}
.pixelart-icons-font-label:before {
  content: "\eb23";
}
.pixelart-icons-font-layout-align-bottom:before {
  content: "\eb24";
}
.pixelart-icons-font-layout-align-left:before {
  content: "\eb25";
}
.pixelart-icons-font-layout-align-right:before {
  content: "\eb26";
}
.pixelart-icons-font-layout-align-top:before {
  content: "\eb27";
}
.pixelart-icons-font-layout-columns:before {
  content: "\eb28";
}
.pixelart-icons-font-layout-distribute-horizontal:before {
  content: "\eb29";
}
.pixelart-icons-font-layout-distribute-vertical:before {
  content: "\eb2a";
}
.pixelart-icons-font-layout-footer:before {
  content: "\eb2b";
}
.pixelart-icons-font-layout-header:before {
  content: "\eb2c";
}
.pixelart-icons-font-layout-rows:before {
  content: "\eb2d";
}
.pixelart-icons-font-layout-sidebar-left:before {
  content: "\eb2e";
}
.pixelart-icons-font-layout-sidebar-right:before {
  content: "\eb2f";
}
.pixelart-icons-font-layout:before {
  content: "\eb30";
}
.pixelart-icons-font-lightbulb-2:before {
  content: "\eb31";
}
.pixelart-icons-font-lightbulb-on:before {
  content: "\eb32";
}
.pixelart-icons-font-lightbulb:before {
  content: "\eb33";
}
.pixelart-icons-font-link:before {
  content: "\eb34";
}
.pixelart-icons-font-list-box:before {
  content: "\eb35";
}
.pixelart-icons-font-list:before {
  content: "\eb36";
}
.pixelart-icons-font-loader:before {
  content: "\eb37";
}
.pixelart-icons-font-lock-open:before {
  content: "\eb38";
}
.pixelart-icons-font-lock:before {
  content: "\eb39";
}
.pixelart-icons-font-login:before {
  content: "\eb3a";
}
.pixelart-icons-font-logout:before {
  content: "\eb3b";
}
.pixelart-icons-font-luggage:before {
  content: "\eb3c";
}
.pixelart-icons-font-mail-arrow-right:before {
  content: "\eb3d";
}
.pixelart-icons-font-mail-check:before {
  content: "\eb3e";
}
.pixelart-icons-font-mail-delete:before {
  content: "\eb3f";
}
.pixelart-icons-font-mail-flash:before {
  content: "\eb40";
}
.pixelart-icons-font-mail-multiple:before {
  content: "\eb41";
}
.pixelart-icons-font-mail-off:before {
  content: "\eb42";
}
.pixelart-icons-font-mail-unread:before {
  content: "\eb43";
}
.pixelart-icons-font-mail:before {
  content: "\eb44";
}
.pixelart-icons-font-map:before {
  content: "\eb45";
}
.pixelart-icons-font-mastodon:before {
  content: "\eb46";
}
.pixelart-icons-font-membercard:before {
  content: "\eb47";
}
.pixelart-icons-font-menu:before {
  content: "\eb48";
}
.pixelart-icons-font-message-arrow-left:before {
  content: "\eb49";
}
.pixelart-icons-font-message-arrow-right:before {
  content: "\eb4a";
}
.pixelart-icons-font-message-bookmark:before {
  content: "\eb4b";
}
.pixelart-icons-font-message-clock:before {
  content: "\eb4c";
}
.pixelart-icons-font-message-delete:before {
  content: "\eb4d";
}
.pixelart-icons-font-message-flash:before {
  content: "\eb4e";
}
.pixelart-icons-font-message-image:before {
  content: "\eb4f";
}
.pixelart-icons-font-message-minus:before {
  content: "\eb50";
}
.pixelart-icons-font-message-plus:before {
  content: "\eb51";
}
.pixelart-icons-font-message-processing:before {
  content: "\eb52";
}
.pixelart-icons-font-message-reply:before {
  content: "\eb53";
}
.pixelart-icons-font-message-text:before {
  content: "\eb54";
}
.pixelart-icons-font-message:before {
  content: "\eb55";
}
.pixelart-icons-font-minus:before {
  content: "\eb56";
}
.pixelart-icons-font-missed-call:before {
  content: "\eb57";
}
.pixelart-icons-font-modem:before {
  content: "\eb58";
}
.pixelart-icons-font-money:before {
  content: "\eb59";
}
.pixelart-icons-font-monitor:before {
  content: "\eb5a";
}
.pixelart-icons-font-mood-happy:before {
  content: "\eb5b";
}
.pixelart-icons-font-mood-neutral:before {
  content: "\eb5c";
}
.pixelart-icons-font-mood-sad:before {
  content: "\eb5d";
}
.pixelart-icons-font-moon-star:before {
  content: "\eb5e";
}
.pixelart-icons-font-moon-stars:before {
  content: "\eb5f";
}
.pixelart-icons-font-moon:before {
  content: "\eb60";
}
.pixelart-icons-font-more-horizontal:before {
  content: "\eb61";
}
.pixelart-icons-font-more-vertical:before {
  content: "\eb62";
}
.pixelart-icons-font-mouse:before {
  content: "\eb63";
}
.pixelart-icons-font-move:before {
  content: "\eb64";
}
.pixelart-icons-font-movie:before {
  content: "\eb65";
}
.pixelart-icons-font-music:before {
  content: "\eb66";
}
.pixelart-icons-font-next:before {
  content: "\eb67";
}
.pixelart-icons-font-note-delete:before {
  content: "\eb68";
}
.pixelart-icons-font-note-multiple:before {
  content: "\eb69";
}
.pixelart-icons-font-note-plus:before {
  content: "\eb6a";
}
.pixelart-icons-font-note:before {
  content: "\eb6b";
}
.pixelart-icons-font-notes-delete:before {
  content: "\eb6c";
}
.pixelart-icons-font-notes-multiple:before {
  content: "\eb6d";
}
.pixelart-icons-font-notes-plus:before {
  content: "\eb6e";
}
.pixelart-icons-font-notes:before {
  content: "\eb6f";
}
.pixelart-icons-font-notification-off:before {
  content: "\eb70";
}
.pixelart-icons-font-notification:before {
  content: "\eb71";
}
.pixelart-icons-font-open:before {
  content: "\eb72";
}
.pixelart-icons-font-paint-bucket:before {
  content: "\eb73";
}
.pixelart-icons-font-paperclip:before {
  content: "\eb74";
}
.pixelart-icons-font-pause:before {
  content: "\eb75";
}
.pixelart-icons-font-percent:before {
  content: "\eb76";
}
.pixelart-icons-font-picture-in-picture-alt:before {
  content: "\eb77";
}
.pixelart-icons-font-picture-in-picture:before {
  content: "\eb78";
}
.pixelart-icons-font-pin:before {
  content: "\eb79";
}
.pixelart-icons-font-pixelarticons:before {
  content: "\eb7a";
}
.pixelart-icons-font-play:before {
  content: "\eb7b";
}
.pixelart-icons-font-playlist:before {
  content: "\eb7c";
}
.pixelart-icons-font-plus:before {
  content: "\eb7d";
}
.pixelart-icons-font-power:before {
  content: "\eb7e";
}
.pixelart-icons-font-prev:before {
  content: "\eb7f";
}
.pixelart-icons-font-print:before {
  content: "\eb80";
}
.pixelart-icons-font-radio-handheld:before {
  content: "\eb81";
}
.pixelart-icons-font-radio-on:before {
  content: "\eb82";
}
.pixelart-icons-font-radio-signal:before {
  content: "\eb83";
}
.pixelart-icons-font-radio-tower:before {
  content: "\eb84";
}
.pixelart-icons-font-reciept-alt:before {
  content: "\eb85";
}
.pixelart-icons-font-reciept:before {
  content: "\eb86";
}
.pixelart-icons-font-redo:before {
  content: "\eb87";
}
.pixelart-icons-font-reload:before {
  content: "\eb88";
}
.pixelart-icons-font-remove-box-multiple:before {
  content: "\eb89";
}
.pixelart-icons-font-remove-box:before {
  content: "\eb8a";
}
.pixelart-icons-font-repeat:before {
  content: "\eb8b";
}
.pixelart-icons-font-reply-all:before {
  content: "\eb8c";
}
.pixelart-icons-font-reply:before {
  content: "\eb8d";
}
.pixelart-icons-font-rounded-corner:before {
  content: "\eb8e";
}
.pixelart-icons-font-save:before {
  content: "\eb8f";
}
.pixelart-icons-font-scale:before {
  content: "\eb90";
}
.pixelart-icons-font-script-text:before {
  content: "\eb91";
}
.pixelart-icons-font-script:before {
  content: "\eb92";
}
.pixelart-icons-font-scroll-horizontal:before {
  content: "\eb93";
}
.pixelart-icons-font-scroll-vertical:before {
  content: "\eb94";
}
.pixelart-icons-font-sd:before {
  content: "\eb95";
}
.pixelart-icons-font-search:before {
  content: "\eb96";
}
.pixelart-icons-font-section-copy:before {
  content: "\eb97";
}
.pixelart-icons-font-section-minus:before {
  content: "\eb98";
}
.pixelart-icons-font-section-plus:before {
  content: "\eb99";
}
.pixelart-icons-font-section-x:before {
  content: "\eb9a";
}
.pixelart-icons-font-section:before {
  content: "\eb9b";
}
.pixelart-icons-font-server:before {
  content: "\eb9c";
}
.pixelart-icons-font-sharp-corner:before {
  content: "\eb9d";
}
.pixelart-icons-font-shield-off:before {
  content: "\eb9e";
}
.pixelart-icons-font-shield:before {
  content: "\eb9f";
}
.pixelart-icons-font-ship:before {
  content: "\eba0";
}
.pixelart-icons-font-shopping-bag:before {
  content: "\eba1";
}
.pixelart-icons-font-shuffle:before {
  content: "\eba2";
}
.pixelart-icons-font-sliders-2:before {
  content: "\eba3";
}
.pixelart-icons-font-sliders:before {
  content: "\eba4";
}
.pixelart-icons-font-sort-alphabetic:before {
  content: "\eba5";
}
.pixelart-icons-font-sort-numeric:before {
  content: "\eba6";
}
.pixelart-icons-font-sort:before {
  content: "\eba7";
}
.pixelart-icons-font-speaker:before {
  content: "\eba8";
}
.pixelart-icons-font-speed-fast:before {
  content: "\eba9";
}
.pixelart-icons-font-speed-medium:before {
  content: "\ebaa";
}
.pixelart-icons-font-speed-slow:before {
  content: "\ebab";
}
.pixelart-icons-font-spotlight:before {
  content: "\ebac";
}
.pixelart-icons-font-store:before {
  content: "\ebad";
}
.pixelart-icons-font-subscriptions:before {
  content: "\ebae";
}
.pixelart-icons-font-subtitles:before {
  content: "\ebaf";
}
.pixelart-icons-font-suitcase:before {
  content: "\ebb0";
}
.pixelart-icons-font-sun-alt:before {
  content: "\ebb1";
}
.pixelart-icons-font-sun:before {
  content: "\ebb2";
}
.pixelart-icons-font-switch:before {
  content: "\ebb3";
}
.pixelart-icons-font-sync:before {
  content: "\ebb4";
}
.pixelart-icons-font-tab:before {
  content: "\ebb5";
}
.pixelart-icons-font-table:before {
  content: "\ebb6";
}
.pixelart-icons-font-tea:before {
  content: "\ebb7";
}
.pixelart-icons-font-teach:before {
  content: "\ebb8";
}
.pixelart-icons-font-text-add:before {
  content: "\ebb9";
}
.pixelart-icons-font-text-colums:before {
  content: "\ebba";
}
.pixelart-icons-font-text-search:before {
  content: "\ebbb";
}
.pixelart-icons-font-text-wrap:before {
  content: "\ebbc";
}
.pixelart-icons-font-timeline:before {
  content: "\ebbd";
}
.pixelart-icons-font-toggle-left:before {
  content: "\ebbe";
}
.pixelart-icons-font-toggle-right:before {
  content: "\ebbf";
}
.pixelart-icons-font-tournament:before {
  content: "\ebc0";
}
.pixelart-icons-font-track-changes:before {
  content: "\ebc1";
}
.pixelart-icons-font-trash-alt:before {
  content: "\ebc2";
}
.pixelart-icons-font-trash:before {
  content: "\ebc3";
}
.pixelart-icons-font-trending-down:before {
  content: "\ebc4";
}
.pixelart-icons-font-trending-up:before {
  content: "\ebc5";
}
.pixelart-icons-font-trending:before {
  content: "\ebc6";
}
.pixelart-icons-font-trophy:before {
  content: "\ebc7";
}
.pixelart-icons-font-truck:before {
  content: "\ebc8";
}
.pixelart-icons-font-undo:before {
  content: "\ebc9";
}
.pixelart-icons-font-ungroup:before {
  content: "\ebca";
}
.pixelart-icons-font-unlink:before {
  content: "\ebcb";
}
.pixelart-icons-font-upload:before {
  content: "\ebcc";
}
.pixelart-icons-font-user-minus:before {
  content: "\ebcd";
}
.pixelart-icons-font-user-plus:before {
  content: "\ebce";
}
.pixelart-icons-font-user-x:before {
  content: "\ebcf";
}
.pixelart-icons-font-user:before {
  content: "\ebd0";
}
.pixelart-icons-font-users:before {
  content: "\ebd1";
}
.pixelart-icons-font-video-off:before {
  content: "\ebd2";
}
.pixelart-icons-font-video:before {
  content: "\ebd3";
}
.pixelart-icons-font-view-col:before {
  content: "\ebd4";
}
.pixelart-icons-font-view-list:before {
  content: "\ebd5";
}
.pixelart-icons-font-viewport-narrow:before {
  content: "\ebd6";
}
.pixelart-icons-font-viewport-wide:before {
  content: "\ebd7";
}
.pixelart-icons-font-visible:before {
  content: "\ebd8";
}
.pixelart-icons-font-volume-1:before {
  content: "\ebd9";
}
.pixelart-icons-font-volume-2:before {
  content: "\ebda";
}
.pixelart-icons-font-volume-3:before {
  content: "\ebdb";
}
.pixelart-icons-font-volume-minus:before {
  content: "\ebdc";
}
.pixelart-icons-font-volume-plus:before {
  content: "\ebdd";
}
.pixelart-icons-font-volume-vibrate:before {
  content: "\ebde";
}
.pixelart-icons-font-volume-x:before {
  content: "\ebdf";
}
.pixelart-icons-font-volume:before {
  content: "\ebe0";
}
.pixelart-icons-font-wallet:before {
  content: "\ebe1";
}
.pixelart-icons-font-warning-box:before {
  content: "\ebe2";
}
.pixelart-icons-font-wind:before {
  content: "\ebe3";
}
.pixelart-icons-font-zap:before {
  content: "\ebe4";
}
.pixelart-icons-font-zoom-in:before {
  content: "\ebe5";
}
.pixelart-icons-font-zoom-out:before {
  content: "\ebe6";
}

$pixelart-icons-font-4g: "\ea01";
$pixelart-icons-font-4k-box: "\ea02";
$pixelart-icons-font-4k: "\ea03";
$pixelart-icons-font-5g: "\ea04";
$pixelart-icons-font-ab-testing: "\ea05";
$pixelart-icons-font-ac: "\ea06";
$pixelart-icons-font-add-box-multiple: "\ea07";
$pixelart-icons-font-add-box: "\ea08";
$pixelart-icons-font-add-col: "\ea09";
$pixelart-icons-font-add-grid: "\ea0a";
$pixelart-icons-font-add-row: "\ea0b";
$pixelart-icons-font-alert: "\ea0c";
$pixelart-icons-font-align-center: "\ea0d";
$pixelart-icons-font-align-justify: "\ea0e";
$pixelart-icons-font-align-left: "\ea0f";
$pixelart-icons-font-align-right: "\ea10";
$pixelart-icons-font-analytics: "\ea11";
$pixelart-icons-font-anchor: "\ea12";
$pixelart-icons-font-android: "\ea13";
$pixelart-icons-font-animation: "\ea14";
$pixelart-icons-font-archive: "\ea15";
$pixelart-icons-font-arrow-bar-down: "\ea16";
$pixelart-icons-font-arrow-bar-left: "\ea17";
$pixelart-icons-font-arrow-bar-right: "\ea18";
$pixelart-icons-font-arrow-bar-up: "\ea19";
$pixelart-icons-font-arrow-down-box: "\ea1a";
$pixelart-icons-font-arrow-down: "\ea1b";
$pixelart-icons-font-arrow-left-box: "\ea1c";
$pixelart-icons-font-arrow-left: "\ea1d";
$pixelart-icons-font-arrow-right-box: "\ea1e";
$pixelart-icons-font-arrow-right: "\ea1f";
$pixelart-icons-font-arrow-up-box: "\ea20";
$pixelart-icons-font-arrow-up: "\ea21";
$pixelart-icons-font-arrows-horizontal: "\ea22";
$pixelart-icons-font-arrows-vertical: "\ea23";
$pixelart-icons-font-art-text: "\ea24";
$pixelart-icons-font-article-multiple: "\ea25";
$pixelart-icons-font-article: "\ea26";
$pixelart-icons-font-aspect-ratio: "\ea27";
$pixelart-icons-font-at: "\ea28";
$pixelart-icons-font-attachment: "\ea29";
$pixelart-icons-font-audio-device: "\ea2a";
$pixelart-icons-font-avatar: "\ea2b";
$pixelart-icons-font-backburger: "\ea2c";
$pixelart-icons-font-battery-1: "\ea2d";
$pixelart-icons-font-battery-2: "\ea2e";
$pixelart-icons-font-battery-charging: "\ea2f";
$pixelart-icons-font-battery-full: "\ea30";
$pixelart-icons-font-battery: "\ea31";
$pixelart-icons-font-bed: "\ea32";
$pixelart-icons-font-bitcoin: "\ea33";
$pixelart-icons-font-bluetooth: "\ea34";
$pixelart-icons-font-book-open: "\ea35";
$pixelart-icons-font-book: "\ea36";
$pixelart-icons-font-bookmark: "\ea37";
$pixelart-icons-font-bookmarks: "\ea38";
$pixelart-icons-font-briefcase-account: "\ea39";
$pixelart-icons-font-briefcase-check: "\ea3a";
$pixelart-icons-font-briefcase-delete: "\ea3b";
$pixelart-icons-font-briefcase-download: "\ea3c";
$pixelart-icons-font-briefcase-minus: "\ea3d";
$pixelart-icons-font-briefcase-plus: "\ea3e";
$pixelart-icons-font-briefcase-search-1: "\ea3f";
$pixelart-icons-font-briefcase-search: "\ea40";
$pixelart-icons-font-briefcase-upload: "\ea41";
$pixelart-icons-font-briefcase: "\ea42";
$pixelart-icons-font-bug: "\ea43";
$pixelart-icons-font-building-community: "\ea44";
$pixelart-icons-font-building-skyscraper: "\ea45";
$pixelart-icons-font-building: "\ea46";
$pixelart-icons-font-buildings: "\ea47";
$pixelart-icons-font-bulletlist: "\ea48";
$pixelart-icons-font-bullseye-arrow: "\ea49";
$pixelart-icons-font-bullseye: "\ea4a";
$pixelart-icons-font-bus: "\ea4b";
$pixelart-icons-font-cake: "\ea4c";
$pixelart-icons-font-calculator: "\ea4d";
$pixelart-icons-font-calendar-alert: "\ea4e";
$pixelart-icons-font-calendar-arrow-left: "\ea4f";
$pixelart-icons-font-calendar-arrow-right: "\ea50";
$pixelart-icons-font-calendar-check: "\ea51";
$pixelart-icons-font-calendar-export: "\ea52";
$pixelart-icons-font-calendar-grid: "\ea53";
$pixelart-icons-font-calendar-import: "\ea54";
$pixelart-icons-font-calendar-minus: "\ea55";
$pixelart-icons-font-calendar-month: "\ea56";
$pixelart-icons-font-calendar-multiple-check: "\ea57";
$pixelart-icons-font-calendar-multiple: "\ea58";
$pixelart-icons-font-calendar-plus: "\ea59";
$pixelart-icons-font-calendar-range: "\ea5a";
$pixelart-icons-font-calendar-remove: "\ea5b";
$pixelart-icons-font-calendar-search: "\ea5c";
$pixelart-icons-font-calendar-sort-ascending: "\ea5d";
$pixelart-icons-font-calendar-sort-descending: "\ea5e";
$pixelart-icons-font-calendar-text: "\ea5f";
$pixelart-icons-font-calendar-today: "\ea60";
$pixelart-icons-font-calendar-tomorrow: "\ea61";
$pixelart-icons-font-calendar-week-begin: "\ea62";
$pixelart-icons-font-calendar-week: "\ea63";
$pixelart-icons-font-calendar-weekend: "\ea64";
$pixelart-icons-font-calendar: "\ea65";
$pixelart-icons-font-camera-add: "\ea66";
$pixelart-icons-font-camera-alt: "\ea67";
$pixelart-icons-font-camera-face: "\ea68";
$pixelart-icons-font-camera: "\ea69";
$pixelart-icons-font-car: "\ea6a";
$pixelart-icons-font-card-id: "\ea6b";
$pixelart-icons-font-card-plus: "\ea6c";
$pixelart-icons-font-card-stack: "\ea6d";
$pixelart-icons-font-card-text: "\ea6e";
$pixelart-icons-font-card: "\ea6f";
$pixelart-icons-font-cart: "\ea70";
$pixelart-icons-font-cast: "\ea71";
$pixelart-icons-font-cellular-signal-0: "\ea72";
$pixelart-icons-font-cellular-signal-1: "\ea73";
$pixelart-icons-font-cellular-signal-2: "\ea74";
$pixelart-icons-font-cellular-signal-3: "\ea75";
$pixelart-icons-font-cellular-signal-off: "\ea76";
$pixelart-icons-font-chart-add: "\ea77";
$pixelart-icons-font-chart-bar: "\ea78";
$pixelart-icons-font-chart-delete: "\ea79";
$pixelart-icons-font-chart-minus: "\ea7a";
$pixelart-icons-font-chart-multiple: "\ea7b";
$pixelart-icons-font-chart: "\ea7c";
$pixelart-icons-font-chat: "\ea7d";
$pixelart-icons-font-check-double: "\ea7e";
$pixelart-icons-font-check: "\ea7f";
$pixelart-icons-font-checkbox-on: "\ea80";
$pixelart-icons-font-checkbox: "\ea81";
$pixelart-icons-font-checklist: "\ea82";
$pixelart-icons-font-chess: "\ea83";
$pixelart-icons-font-chevron-down: "\ea84";
$pixelart-icons-font-chevron-left: "\ea85";
$pixelart-icons-font-chevron-right: "\ea86";
$pixelart-icons-font-chevron-up: "\ea87";
$pixelart-icons-font-chevrons-horizontal: "\ea88";
$pixelart-icons-font-chevrons-vertical: "\ea89";
$pixelart-icons-font-circle: "\ea8a";
$pixelart-icons-font-clipboard: "\ea8b";
$pixelart-icons-font-clock: "\ea8c";
$pixelart-icons-font-close-box: "\ea8d";
$pixelart-icons-font-close: "\ea8e";
$pixelart-icons-font-cloud-done: "\ea8f";
$pixelart-icons-font-cloud-download: "\ea90";
$pixelart-icons-font-cloud-moon: "\ea91";
$pixelart-icons-font-cloud-sun: "\ea92";
$pixelart-icons-font-cloud-upload: "\ea93";
$pixelart-icons-font-cloud: "\ea94";
$pixelart-icons-font-cocktail: "\ea95";
$pixelart-icons-font-code: "\ea96";
$pixelart-icons-font-coffee-alt: "\ea97";
$pixelart-icons-font-coffee: "\ea98";
$pixelart-icons-font-coin: "\ea99";
$pixelart-icons-font-collapse: "\ea9a";
$pixelart-icons-font-colors-swatch: "\ea9b";
$pixelart-icons-font-command: "\ea9c";
$pixelart-icons-font-comment: "\ea9d";
$pixelart-icons-font-contact-delete: "\ea9e";
$pixelart-icons-font-contact-multiple: "\ea9f";
$pixelart-icons-font-contact-plus: "\eaa0";
$pixelart-icons-font-contact: "\eaa1";
$pixelart-icons-font-copy: "\eaa2";
$pixelart-icons-font-corner-down-left: "\eaa3";
$pixelart-icons-font-corner-down-right: "\eaa4";
$pixelart-icons-font-corner-left-down: "\eaa5";
$pixelart-icons-font-corner-left-up: "\eaa6";
$pixelart-icons-font-corner-right-down: "\eaa7";
$pixelart-icons-font-corner-right-up: "\eaa8";
$pixelart-icons-font-corner-up-left: "\eaa9";
$pixelart-icons-font-corner-up-right: "\eaaa";
$pixelart-icons-font-credit-card-delete: "\eaab";
$pixelart-icons-font-credit-card-minus: "\eaac";
$pixelart-icons-font-credit-card-multiple: "\eaad";
$pixelart-icons-font-credit-card-plus: "\eaae";
$pixelart-icons-font-credit-card-settings: "\eaaf";
$pixelart-icons-font-credit-card-wireless: "\eab0";
$pixelart-icons-font-credit-card: "\eab1";
$pixelart-icons-font-crop: "\eab2";
$pixelart-icons-font-cut: "\eab3";
$pixelart-icons-font-dashbaord: "\eab4";
$pixelart-icons-font-debug-check: "\eab5";
$pixelart-icons-font-debug-off: "\eab6";
$pixelart-icons-font-debug-pause: "\eab7";
$pixelart-icons-font-debug-play: "\eab8";
$pixelart-icons-font-debug-stop: "\eab9";
$pixelart-icons-font-debug: "\eaba";
$pixelart-icons-font-delete: "\eabb";
$pixelart-icons-font-deskphone: "\eabc";
$pixelart-icons-font-device-laptop: "\eabd";
$pixelart-icons-font-device-phone: "\eabe";
$pixelart-icons-font-device-tablet: "\eabf";
$pixelart-icons-font-device-tv-smart: "\eac0";
$pixelart-icons-font-device-tv: "\eac1";
$pixelart-icons-font-device-vibrate: "\eac2";
$pixelart-icons-font-device-watch: "\eac3";
$pixelart-icons-font-devices: "\eac4";
$pixelart-icons-font-dice: "\eac5";
$pixelart-icons-font-dollar: "\eac6";
$pixelart-icons-font-downasaur: "\eac7";
$pixelart-icons-font-download: "\eac8";
$pixelart-icons-font-draft: "\eac9";
$pixelart-icons-font-drag-and-drop: "\eaca";
$pixelart-icons-font-drop-area: "\eacb";
$pixelart-icons-font-drop-full: "\eacc";
$pixelart-icons-font-drop-half: "\eacd";
$pixelart-icons-font-drop: "\eace";
$pixelart-icons-font-duplicate-alt: "\eacf";
$pixelart-icons-font-duplicate: "\ead0";
$pixelart-icons-font-edit-box: "\ead1";
$pixelart-icons-font-edit: "\ead2";
$pixelart-icons-font-euro: "\ead3";
$pixelart-icons-font-expand: "\ead4";
$pixelart-icons-font-external-link: "\ead5";
$pixelart-icons-font-eye-closed: "\ead6";
$pixelart-icons-font-eye: "\ead7";
$pixelart-icons-font-file-alt: "\ead8";
$pixelart-icons-font-file-delete: "\ead9";
$pixelart-icons-font-file-flash: "\eada";
$pixelart-icons-font-file-minus: "\eadb";
$pixelart-icons-font-file-multiple: "\eadc";
$pixelart-icons-font-file-off: "\eadd";
$pixelart-icons-font-file-plus: "\eade";
$pixelart-icons-font-file: "\eadf";
$pixelart-icons-font-fill-half: "\eae0";
$pixelart-icons-font-fill: "\eae1";
$pixelart-icons-font-flag: "\eae2";
$pixelart-icons-font-flatten: "\eae3";
$pixelart-icons-font-flip-to-back: "\eae4";
$pixelart-icons-font-flip-to-front: "\eae5";
$pixelart-icons-font-float-center: "\eae6";
$pixelart-icons-font-float-left: "\eae7";
$pixelart-icons-font-float-right: "\eae8";
$pixelart-icons-font-folder-minus: "\eae9";
$pixelart-icons-font-folder-plus: "\eaea";
$pixelart-icons-font-folder-x: "\eaeb";
$pixelart-icons-font-folder: "\eaec";
$pixelart-icons-font-forward: "\eaed";
$pixelart-icons-font-forwardburger: "\eaee";
$pixelart-icons-font-frame-add: "\eaef";
$pixelart-icons-font-frame-check: "\eaf0";
$pixelart-icons-font-frame-delete: "\eaf1";
$pixelart-icons-font-frame-minus: "\eaf2";
$pixelart-icons-font-frame: "\eaf3";
$pixelart-icons-font-gamepad: "\eaf4";
$pixelart-icons-font-gif: "\eaf5";
$pixelart-icons-font-gift: "\eaf6";
$pixelart-icons-font-git-branch: "\eaf7";
$pixelart-icons-font-git-commit: "\eaf8";
$pixelart-icons-font-git-merge: "\eaf9";
$pixelart-icons-font-git-pull-request: "\eafa";
$pixelart-icons-font-github-2: "\eafb";
$pixelart-icons-font-github: "\eafc";
$pixelart-icons-font-gps: "\eafd";
$pixelart-icons-font-grid: "\eafe";
$pixelart-icons-font-group: "\eaff";
$pixelart-icons-font-hd: "\eb00";
$pixelart-icons-font-headphone: "\eb01";
$pixelart-icons-font-headset: "\eb02";
$pixelart-icons-font-heart: "\eb03";
$pixelart-icons-font-hidden: "\eb04";
$pixelart-icons-font-home: "\eb05";
$pixelart-icons-font-hourglass: "\eb06";
$pixelart-icons-font-hq: "\eb07";
$pixelart-icons-font-human-handsdown: "\eb08";
$pixelart-icons-font-human-handsup: "\eb09";
$pixelart-icons-font-human-height-alt: "\eb0a";
$pixelart-icons-font-human-height: "\eb0b";
$pixelart-icons-font-human-run: "\eb0c";
$pixelart-icons-font-human: "\eb0d";
$pixelart-icons-font-image-arrow-right: "\eb0e";
$pixelart-icons-font-image-broken: "\eb0f";
$pixelart-icons-font-image-delete: "\eb10";
$pixelart-icons-font-image-flash: "\eb11";
$pixelart-icons-font-image-frame: "\eb12";
$pixelart-icons-font-image-gallery: "\eb13";
$pixelart-icons-font-image-multiple: "\eb14";
$pixelart-icons-font-image-new: "\eb15";
$pixelart-icons-font-image-plus: "\eb16";
$pixelart-icons-font-image: "\eb17";
$pixelart-icons-font-inbox-all: "\eb18";
$pixelart-icons-font-inbox-full: "\eb19";
$pixelart-icons-font-inbox: "\eb1a";
$pixelart-icons-font-info-box: "\eb1b";
$pixelart-icons-font-invert: "\eb1c";
$pixelart-icons-font-iso: "\eb1d";
$pixelart-icons-font-kanban: "\eb1e";
$pixelart-icons-font-keyboard: "\eb1f";
$pixelart-icons-font-label-alt-multiple: "\eb20";
$pixelart-icons-font-label-alt: "\eb21";
$pixelart-icons-font-label-sharp: "\eb22";
$pixelart-icons-font-label: "\eb23";
$pixelart-icons-font-layout-align-bottom: "\eb24";
$pixelart-icons-font-layout-align-left: "\eb25";
$pixelart-icons-font-layout-align-right: "\eb26";
$pixelart-icons-font-layout-align-top: "\eb27";
$pixelart-icons-font-layout-columns: "\eb28";
$pixelart-icons-font-layout-distribute-horizontal: "\eb29";
$pixelart-icons-font-layout-distribute-vertical: "\eb2a";
$pixelart-icons-font-layout-footer: "\eb2b";
$pixelart-icons-font-layout-header: "\eb2c";
$pixelart-icons-font-layout-rows: "\eb2d";
$pixelart-icons-font-layout-sidebar-left: "\eb2e";
$pixelart-icons-font-layout-sidebar-right: "\eb2f";
$pixelart-icons-font-layout: "\eb30";
$pixelart-icons-font-lightbulb-2: "\eb31";
$pixelart-icons-font-lightbulb-on: "\eb32";
$pixelart-icons-font-lightbulb: "\eb33";
$pixelart-icons-font-link: "\eb34";
$pixelart-icons-font-list-box: "\eb35";
$pixelart-icons-font-list: "\eb36";
$pixelart-icons-font-loader: "\eb37";
$pixelart-icons-font-lock-open: "\eb38";
$pixelart-icons-font-lock: "\eb39";
$pixelart-icons-font-login: "\eb3a";
$pixelart-icons-font-logout: "\eb3b";
$pixelart-icons-font-luggage: "\eb3c";
$pixelart-icons-font-mail-arrow-right: "\eb3d";
$pixelart-icons-font-mail-check: "\eb3e";
$pixelart-icons-font-mail-delete: "\eb3f";
$pixelart-icons-font-mail-flash: "\eb40";
$pixelart-icons-font-mail-multiple: "\eb41";
$pixelart-icons-font-mail-off: "\eb42";
$pixelart-icons-font-mail-unread: "\eb43";
$pixelart-icons-font-mail: "\eb44";
$pixelart-icons-font-map: "\eb45";
$pixelart-icons-font-mastodon: "\eb46";
$pixelart-icons-font-membercard: "\eb47";
$pixelart-icons-font-menu: "\eb48";
$pixelart-icons-font-message-arrow-left: "\eb49";
$pixelart-icons-font-message-arrow-right: "\eb4a";
$pixelart-icons-font-message-bookmark: "\eb4b";
$pixelart-icons-font-message-clock: "\eb4c";
$pixelart-icons-font-message-delete: "\eb4d";
$pixelart-icons-font-message-flash: "\eb4e";
$pixelart-icons-font-message-image: "\eb4f";
$pixelart-icons-font-message-minus: "\eb50";
$pixelart-icons-font-message-plus: "\eb51";
$pixelart-icons-font-message-processing: "\eb52";
$pixelart-icons-font-message-reply: "\eb53";
$pixelart-icons-font-message-text: "\eb54";
$pixelart-icons-font-message: "\eb55";
$pixelart-icons-font-minus: "\eb56";
$pixelart-icons-font-missed-call: "\eb57";
$pixelart-icons-font-modem: "\eb58";
$pixelart-icons-font-money: "\eb59";
$pixelart-icons-font-monitor: "\eb5a";
$pixelart-icons-font-mood-happy: "\eb5b";
$pixelart-icons-font-mood-neutral: "\eb5c";
$pixelart-icons-font-mood-sad: "\eb5d";
$pixelart-icons-font-moon-star: "\eb5e";
$pixelart-icons-font-moon-stars: "\eb5f";
$pixelart-icons-font-moon: "\eb60";
$pixelart-icons-font-more-horizontal: "\eb61";
$pixelart-icons-font-more-vertical: "\eb62";
$pixelart-icons-font-mouse: "\eb63";
$pixelart-icons-font-move: "\eb64";
$pixelart-icons-font-movie: "\eb65";
$pixelart-icons-font-music: "\eb66";
$pixelart-icons-font-next: "\eb67";
$pixelart-icons-font-note-delete: "\eb68";
$pixelart-icons-font-note-multiple: "\eb69";
$pixelart-icons-font-note-plus: "\eb6a";
$pixelart-icons-font-note: "\eb6b";
$pixelart-icons-font-notes-delete: "\eb6c";
$pixelart-icons-font-notes-multiple: "\eb6d";
$pixelart-icons-font-notes-plus: "\eb6e";
$pixelart-icons-font-notes: "\eb6f";
$pixelart-icons-font-notification-off: "\eb70";
$pixelart-icons-font-notification: "\eb71";
$pixelart-icons-font-open: "\eb72";
$pixelart-icons-font-paint-bucket: "\eb73";
$pixelart-icons-font-paperclip: "\eb74";
$pixelart-icons-font-pause: "\eb75";
$pixelart-icons-font-percent: "\eb76";
$pixelart-icons-font-picture-in-picture-alt: "\eb77";
$pixelart-icons-font-picture-in-picture: "\eb78";
$pixelart-icons-font-pin: "\eb79";
$pixelart-icons-font-pixelarticons: "\eb7a";
$pixelart-icons-font-play: "\eb7b";
$pixelart-icons-font-playlist: "\eb7c";
$pixelart-icons-font-plus: "\eb7d";
$pixelart-icons-font-power: "\eb7e";
$pixelart-icons-font-prev: "\eb7f";
$pixelart-icons-font-print: "\eb80";
$pixelart-icons-font-radio-handheld: "\eb81";
$pixelart-icons-font-radio-on: "\eb82";
$pixelart-icons-font-radio-signal: "\eb83";
$pixelart-icons-font-radio-tower: "\eb84";
$pixelart-icons-font-reciept-alt: "\eb85";
$pixelart-icons-font-reciept: "\eb86";
$pixelart-icons-font-redo: "\eb87";
$pixelart-icons-font-reload: "\eb88";
$pixelart-icons-font-remove-box-multiple: "\eb89";
$pixelart-icons-font-remove-box: "\eb8a";
$pixelart-icons-font-repeat: "\eb8b";
$pixelart-icons-font-reply-all: "\eb8c";
$pixelart-icons-font-reply: "\eb8d";
$pixelart-icons-font-rounded-corner: "\eb8e";
$pixelart-icons-font-save: "\eb8f";
$pixelart-icons-font-scale: "\eb90";
$pixelart-icons-font-script-text: "\eb91";
$pixelart-icons-font-script: "\eb92";
$pixelart-icons-font-scroll-horizontal: "\eb93";
$pixelart-icons-font-scroll-vertical: "\eb94";
$pixelart-icons-font-sd: "\eb95";
$pixelart-icons-font-search: "\eb96";
$pixelart-icons-font-section-copy: "\eb97";
$pixelart-icons-font-section-minus: "\eb98";
$pixelart-icons-font-section-plus: "\eb99";
$pixelart-icons-font-section-x: "\eb9a";
$pixelart-icons-font-section: "\eb9b";
$pixelart-icons-font-server: "\eb9c";
$pixelart-icons-font-sharp-corner: "\eb9d";
$pixelart-icons-font-shield-off: "\eb9e";
$pixelart-icons-font-shield: "\eb9f";
$pixelart-icons-font-ship: "\eba0";
$pixelart-icons-font-shopping-bag: "\eba1";
$pixelart-icons-font-shuffle: "\eba2";
$pixelart-icons-font-sliders-2: "\eba3";
$pixelart-icons-font-sliders: "\eba4";
$pixelart-icons-font-sort-alphabetic: "\eba5";
$pixelart-icons-font-sort-numeric: "\eba6";
$pixelart-icons-font-sort: "\eba7";
$pixelart-icons-font-speaker: "\eba8";
$pixelart-icons-font-speed-fast: "\eba9";
$pixelart-icons-font-speed-medium: "\ebaa";
$pixelart-icons-font-speed-slow: "\ebab";
$pixelart-icons-font-spotlight: "\ebac";
$pixelart-icons-font-store: "\ebad";
$pixelart-icons-font-subscriptions: "\ebae";
$pixelart-icons-font-subtitles: "\ebaf";
$pixelart-icons-font-suitcase: "\ebb0";
$pixelart-icons-font-sun-alt: "\ebb1";
$pixelart-icons-font-sun: "\ebb2";
$pixelart-icons-font-switch: "\ebb3";
$pixelart-icons-font-sync: "\ebb4";
$pixelart-icons-font-tab: "\ebb5";
$pixelart-icons-font-table: "\ebb6";
$pixelart-icons-font-tea: "\ebb7";
$pixelart-icons-font-teach: "\ebb8";
$pixelart-icons-font-text-add: "\ebb9";
$pixelart-icons-font-text-colums: "\ebba";
$pixelart-icons-font-text-search: "\ebbb";
$pixelart-icons-font-text-wrap: "\ebbc";
$pixelart-icons-font-timeline: "\ebbd";
$pixelart-icons-font-toggle-left: "\ebbe";
$pixelart-icons-font-toggle-right: "\ebbf";
$pixelart-icons-font-tournament: "\ebc0";
$pixelart-icons-font-track-changes: "\ebc1";
$pixelart-icons-font-trash-alt: "\ebc2";
$pixelart-icons-font-trash: "\ebc3";
$pixelart-icons-font-trending-down: "\ebc4";
$pixelart-icons-font-trending-up: "\ebc5";
$pixelart-icons-font-trending: "\ebc6";
$pixelart-icons-font-trophy: "\ebc7";
$pixelart-icons-font-truck: "\ebc8";
$pixelart-icons-font-undo: "\ebc9";
$pixelart-icons-font-ungroup: "\ebca";
$pixelart-icons-font-unlink: "\ebcb";
$pixelart-icons-font-upload: "\ebcc";
$pixelart-icons-font-user-minus: "\ebcd";
$pixelart-icons-font-user-plus: "\ebce";
$pixelart-icons-font-user-x: "\ebcf";
$pixelart-icons-font-user: "\ebd0";
$pixelart-icons-font-users: "\ebd1";
$pixelart-icons-font-video-off: "\ebd2";
$pixelart-icons-font-video: "\ebd3";
$pixelart-icons-font-view-col: "\ebd4";
$pixelart-icons-font-view-list: "\ebd5";
$pixelart-icons-font-viewport-narrow: "\ebd6";
$pixelart-icons-font-viewport-wide: "\ebd7";
$pixelart-icons-font-visible: "\ebd8";
$pixelart-icons-font-volume-1: "\ebd9";
$pixelart-icons-font-volume-2: "\ebda";
$pixelart-icons-font-volume-3: "\ebdb";
$pixelart-icons-font-volume-minus: "\ebdc";
$pixelart-icons-font-volume-plus: "\ebdd";
$pixelart-icons-font-volume-vibrate: "\ebde";
$pixelart-icons-font-volume-x: "\ebdf";
$pixelart-icons-font-volume: "\ebe0";
$pixelart-icons-font-wallet: "\ebe1";
$pixelart-icons-font-warning-box: "\ebe2";
$pixelart-icons-font-wind: "\ebe3";
$pixelart-icons-font-zap: "\ebe4";
$pixelart-icons-font-zoom-in: "\ebe5";
$pixelart-icons-font-zoom-out: "\ebe6";
